.btn_container_add {
    width: 80%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #233167;
    border-radius: 10px;
    display: flex;
    justify-content: baseline;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    background-color: #3d4a7c;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .btn_container_add:hover{
    background-color: #307fad;
    color: white;
    border: none;
   

  }
  
  .btn_full_width {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
  
  .btn_icon {
    height: 20px;
    width: 20px;
    margin-right: 5px; /* Optional: space between the icon and the text */
  }
  