.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    width: 100%;

}


.agent_container{
    width: 25%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.Content{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




