.doc_container {
    height: 200px;
    width: 100%;
    /*background-image: url('../assets/api_doc.png');*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    border-radius: 10px;
    margin: 10px 0;
    
    /*background-color:#353840 ;*/
    
    padding-bottom: 20px;
}

.APi_doc_btn {
    
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    
    background-color: #333335;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    
}
