.billing-history {
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .billing-history table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  .billing-history th, .billing-history td {
    padding: 10px;
    text-align: left;
  }
  
  .billing-history th {
    background-color: #9494b4;
    border: 1px solid #233167;
    padding: 10px;
  }
  
  .billing-history th:first-child {
    border-top-left-radius: 20px;
  }
  
  /* Top-right corner */
  .billing-history th:last-child {
    border-top-right-radius: 20px;
  }
  
  /* Bottom-left corner */
  .billing-history td:first-child {
    border-bottom-left-radius: 20px;
  }
  
  /* Bottom-right corner */
  .billing-history td:last-child {
    border-bottom-right-radius: 20px;
  }
  
  .billing-history .note {
    font-size: 1em;
    color: #d4cfcf;
  }
  