.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .trial-info {
    display: flex;
    align-items: center;
  }
  
  .trial-info button {
    margin-left: 10px;
  }
  
  .profile-pic img {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  h1{
    color:white;
  }
  .loginbtn{
    color:white;
    font-size: 15px;
  }