.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:#fffffffa;
  
  }
  
  .content-placeholder {
    text-align: center;
  }
  
  .content-placeholder img {
    width: 100px;
    margin-bottom: 20px;
  }
  