.payment-methods {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 250px;
    

  }
  
  .add-payment-method {
    background-color: #3d4a7c;
    border: 1px solid #233167;
    color: white;
    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  