.webhook-form-container {
    border: 1px solid #e3e3e3;
    padding: 20px;
    border-radius: 1px;
    width: 500px;
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    margin-left: 20px;
    border-radius: 20px;

  }
  p{
    color: white;
  }
  
  .webhook-form-container h3 {
    margin-top: 0;
  }
  
  .webhook-form-container p {
    margin: 0 0 10px;
  }
  
  .webhook-form-container a {
    color: #3d4a7c;
  }
  
  .webhook-input {
    width: 450px;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #7f8081;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1f2124;
    outline: none;
    border-radius: 10px;
    color: white;

  }
  
  .webhook-input.active {
    outline: 2px solid #3d4a7c;
  }
  
  .webhook-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #353840;
    color: #fff;
    cursor: not-allowed;
    display: flex;
    align-self: flex-end;
  }
  
  .webhook-button.active {
    background: #3d4a7c;
    cursor: pointer;
  }
  