.webhook-container{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    
    justify-content: left;
    align-items: start;

}
#titleTag{
    padding-left: 10px;
}
#webhook-discription{
    padding-left: 10px;

}
